@import "typeface-roboto/index.css";

.container {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  background: #555555;

  .content {
    margin: 15px;
    display: grid;
    grid-template-rows: auto max-content;

    main {
      justify-content: stretch;
      background: #555555;
    }

    div.buttons {
      display: grid;
      grid-template-columns: auto min-content min-content;
      justify-self: right;
      column-gap: 10px;
    }
  }
}
