<div class="container">
  <div class="content">
    <main>
      <mat-radio-group>
        <mat-radio-button value="1">Set Last Saved Location</mat-radio-button>
        <mat-radio-button value="2">Set Selected Location</mat-radio-button>
      </mat-radio-group>
    </main>
    <div class="buttons">
      <span> </span>
      <button mat-raised-button color="warn" (click)="saveandbacktohome()">
        Save & Exit
      </button>
      <button mat-raised-button color="warn" (click)="backtohome()">
        Cancel
      </button>
    </div>
  </div>
</div>
