<div class="container">
  <mat-toolbar>
    <div class="filename">My File</div>
    <div class="navbuttons">
      <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <main>
    <ngx-extended-pdf-viewer
      [src]="'assets/CV - Kumudini.pdf'"
      [base64Src]="pdfDocument"
      backgroundColor="#ffffff"
      [height]="'100%'"
      [useBrowserLocale]="true"
      [handTool]="true"
      [showHandToolButton]="true"
    >
    </ngx-extended-pdf-viewer>
  </main>
</div>
