<div class="container">
  <mat-toolbar>
    <div class="filename">{{ pdfFileName }}</div>
    <div class="navbuttons">
      <button mat-icon-button (click)="backtohome()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
    </div>
  </mat-toolbar>
  <main>
    <ngx-extended-pdf-viewer
      [base64Src]="pdfFileData"
      backgroundColor="#555555"
      [height]="'100%'"
      [useBrowserLocale]="true"
      [handTool]="true"
      [showHandToolButton]="true"
      [filenameForDownload]="pdfFileName"
      [showBookmarkButton]="false"
      [showOpenFileButton]="false"
      [showFindButton]="true"
    >
    </ngx-extended-pdf-viewer>
  </main>
</div>
