<div class="container">
  <mat-toolbar>
    <div class="filename">{{ pdfFileName }}</div>
    <div class="navbuttons">
      <button mat-icon-button [routerLink]="['/home']">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <main>
    <ngx-extended-pdf-viewer
      [base64Src]="pdfFileData"
      backgroundColor="#555555"
      [height]="'100%'"
      [useBrowserLocale]="true"
      [handTool]="true"
      [showHandToolButton]="true"
      [filenameForDownload]="pdfFileName"
      [zoom]="'page-fit'"
      [showBookmarkButton]="false"
      [showOpenFileButton]="false"
      [showFindButton]="true"
    >
    </ngx-extended-pdf-viewer>
  </main>
</div>
