@import "typeface-roboto/index.css";

.container {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
  background: #555555;

  mat-toolbar {
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    width: fit-content;
    background: #4d4d4d;
    display: grid;
    grid-template-columns: min-content min-content;
    justify-self: left;
    align-items: left;
    margin: 0;
    padding: 0;

    .filename {
      align-content: stretch;
      text-align: center;
      font-family: RobotoRegular;
      font-size: 0.85rem;
      margin: 0;
      padding: 0px 10px;
      color: goldenrod;
    }

    .navbuttons {
      display: grid;
      grid-template-columns: auto;

      button {
        svg {
          height: 16px;
          fill: #353535;
          transition: all 0.3s ease;
        }
      }
      button:hover svg {
        height: 24px;
        fill: goldenrod;
      }
    }
  }

  main {
    background: #555555;
    height: 100%;
  }
}
