$OliveGreen: #968c07;
$DarkOliveGreen: #817530;

.container {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  background: #555555;

  .content {
    margin: 15px;
    display: grid;
    grid-template-rows: auto min-content;
    row-gap: 15px;
    border-radius: 0px 0px 10px 10px;

    .rForm {
      display: grid;
      grid-template-columns: auto min-content;
      column-gap: 15px;
      justify-items: center;
      padding-top: 5px;

      .frmField {
        font-family: Roboto;
        width: 100%;
      }

      button {
        align-self: center;
        height: 50px;
        width: fit-content;
        font-family: Roboto;
        background-color: $OliveGreen;
        transition: all 0.3s ease;
      }

      button:hover {
        transform: scale(1.075);
      }
    }

    .CreatePDFBtn {
      width: 100%;
      height: 50px;
      justify-content: center;
      background-color: #444444;
      color: #aaa2a2;
      transition: all 0.3s ease;
    }

    .CreatePDFBtn:not([disabled]) {
      background-color: $DarkOliveGreen;
    }

    .CreatePDFBtn:hover:not([disabled]) {
      background-color: $OliveGreen;
      color: #000000;
      transform: scale(1.01);
    }
  }
}
