<div class="container">
  <div class="content">
    <form class="rForm">
      <mat-form-field class="frmField">
        <input
          matInput
          placeholder="Selected File"
          disabled
          [value]="selectedFile"
        />
        <mat-hint align="start">Please select the Excel File</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="FileOpenDialog()">
        ...
      </button>
    </form>

    <button
      class="CreatePDFBtn"
      [disabled]="!isFileSelected"
      mat-raised-button
      color="warn"
      (click)="CreatePDF()"
    >
      Create Salary Slip PDF
    </button>
  </div>
</div>
