@import "typeface-roboto/index.css";

$OliveGreen: #968c07;

.container {
  display: grid;
  grid-template-rows: auto;
  height: 100%;
  background: #555555;

  .content {
    margin: 15px;
    display: grid;
    grid-template-rows: auto max-content;
    row-gap: 25px;

    main {
      justify-content: stretch;
      background: #555555;
      display: grid;
      grid-template-columns: max-content auto auto auto;
      column-gap: 20px;

      .created {
        place-self: end end;
        color: #252525;
      }

      svg {
        transform: translate(0px, -2px);
        fill: #353535;
        height: 55px;
        align-self: end;
        justify-self: left;
      }

      .socialgroup {
        display: flex;
        justify-content: space-between;
        align-self: end;

        svg {
          height: 35px;
          fill: #393939;
          transform: translate(0px, 3px);
          transition: all 0.3s ease;
        }
        svg:hover {
          cursor: pointer;
          transform: scale(1.2);
          transform: translate(0px, 0px);
          fill: $OliveGreen;
        }
      }

      .contact {
        color: #252525;
        align-self: end;
        text-align: right;
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: auto min-content;

      button {
        background-color: #444444;
        color: #aaa2a2;
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: $OliveGreen;
        color: #000000;
        transform: scale(1.075);
      }
    }
  }
}
