<div class="container">
  <mat-toolbar>
    <img src="assets/icons/Ganga.svg" />
    <div class="applititle">Salary Slip Generator</div>
    <div class="navbuttons">
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="MinWindow()">
        <mat-icon>minimize</mat-icon>
      </button>
      <button mat-icon-button (click)="ExitWindow()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
