<div class="container">
  <mat-toolbar>
    <img src="assets/icons/Ganga.svg" />
    <div class="applititle">Salary Slip Generator</div>
    <div class="navbuttons">
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button (click)="MinWindow()">
        <mat-icon>minimize</mat-icon>
      </button>
      <button mat-icon-button (click)="ExitWindow()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <main>
    <form class="rForm">
      <mat-form-field class="frmField">
        <input
          matInput
          placeholder="Selected File"
          disabled
          [value]="selectedFile"
        />
        <mat-hint align="start">Please select the Excel File</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="FileOpenDialog()">
        ...
      </button>
    </form>

    <button
      class="CreatePDFBtn"
      [disabled]="!isFileSelected"
      mat-raised-button
      color="warn"
      (click)="CreatePDF()"
    >
      Create Salary Slip PDF
    </button>
  </main>
  <div class="progBar">
    <mat-progress-bar [color]="color" [mode]="mode"></mat-progress-bar>
  </div>
</div>
